*{
    margin: 0;
    padding: 0;
}

 div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}



 div:nth-child(1){
      background-image: url(pic1.jpg);
      
}
 div:nth-child(2){
    background-image: url(pic2.jpg);
   
}

div:nth-child(3){
    height: 400px;
    background-image: url(pic1.jpg);
    background-attachment: fixed;
}

div:nth-child(4){
    background-image: url(pic3.jpg);
  
}